{% extends 'base.html' %}
{% block title %} Recipes - Search Results {% endblock %}
{% block body %}

<h2 style="text-align: center" class="bold my-5">
    Recipes for you:
</h2>
<div class="container">
    <div class="row">
            {% for recipe in recipes %}
            <div class="col-lg-3 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <a href="/recipe?id={{ recipe['id'] }}"><img src="{{recipe['image']}}" class="card-img-top" alt="{{ recipe['title'] }}"></a>
                    <div class="card-body">
                        <h5 class="card-title bold">{{ recipe['title'] }}</h5>
                        <p class="card-text">
                            {% if 'carbs' in recipe%}
                                <span class="bold light-brown">Carbs:</span> {{recipe['carbs']}}. <br>
                                <span class="bold light-brown">Fat:</span> {{recipe['fat']}}. <br>
                                <span class="bold light-brown">Protein:</span> {{recipe['protein']}}. <br>
                                <span class="bold light-brown">Calories:</span> {{recipe['calories']}} kcal.  <br>
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/recipe?id={{ recipe['id'] }}" class="btn btn-primary">See Instructions</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>      
    </div>
</div>
{% endblock %}