{% extends 'base.html' %}
{% block title %} {{recipe['title']}} {% endblock %}
{% block body %}

<div class="container">
  <div class="row my-5 ">
    <div class="offset-lg-2 col-lg-8 col-sm-12">
      <h1 class="bold mb-3">{{recipe['title']}}</h1>
      <img src="{{recipe['image']}}" class="img-fluid rounded mb-3" style="width: 100%" alt="{{recipe['title']}}">      
        <p>{{recipe['summary'] |safe}}</p>

        <div class="row">
          <h3 class="subtitle bold green mt-2">Ingredients:</h3>
          <div class="col-lg-8 col-sm-12">
            {% if recipe['extendedIngredients'] %}
                <table class="table align-middle table-sm">
                    <tbody>
                        {% for ingredient in recipe['extendedIngredients'] %}
                            <tr>
                                <th class="col-2">{{ingredient['amount']}} {{ingredient['unit']}}</th>
                                <td class="col-10">{{ingredient['name']}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning"> <i class="fas fa-exclamation-circle"></i> No ingredients provided for this recipe.</div>
            {% endif %}
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card info">
              <div class="card-body">
                <span class="bold light-brown">Servings:</span> {{recipe['servings'] }}<br>
                <span class="bold light-brown">Ready in:</span> {{recipe['readyInMinutes'] }} minutes<br>
                <span class="bold light-brown">Dish Types:</span> {% for type in recipe['dishTypes'] %}{{type}} {% endfor %}<br>
                <span class="bold light-brown">Health Score:</span> {{recipe['healthScore'] }}<br>
              </div>
            </div>
          </div>
        </div>

        <h3 class="subtitle bold green mt-2">Instructions:</h3>

        {% if recipe['analyzedInstructions'] %}
            <table class="table table-sm">
                <tbody>
                    {% for step in recipe['analyzedInstructions'][0]['steps'] %}
                        <tr>
                            <th scope="row">{{step['number']}}</th>
                            <td>{{step['step']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning"> <i class="fas fa-exclamation-circle"></i> No instructions available for this recipe.</div>
        {% endif %}

    </div>
  </div>  
</div>
{% endblock %}